name: Flames CI

on:
  push:
    branches: [ "master", "devel" ]
  pull_request:
    branches: [ "master" ]
  # This makes the CI run every 7 days automatically (Mondays at midnight)
  schedule:
    - cron: '0 0 * * 1' 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: make
      run: make

    - name: Run Logic Test
      run: echo "saleem newbie" | ./flames 

    - name: Upload FLAMES Binary
      uses: actions/upload-artifact@v4
      with:
        name: flames-binary
        path: flames
        # This keeps the file for exactly 7 days
        retention-days: 7 

  open-pr:
    needs: build
    if: github.ref == 'refs/heads/devel' && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create Pull Request
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create \
            --title "Auto-PR: Devel to Master" \
            --body "CI passed. Binary is available in artifacts for 7 days." \
            --base master \
            --head devel || echo "PR already exists"